:root {
  --chart-max-width: 700px;
}

.chart-container {
  width: 100%;
  max-width: var(--chart-max-width);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.chart-container h2 {
  padding: 0 1rem 0 1rem;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.custom-legend .MuiChartsLegend-root {
  transform: translateX(-20px); /* Adjust this value as needed */
}
